This notebook contains the code for cleaning the crime data from the FBI database. The raw data is available as a csv/excel file from the FBI website.

In [213]:
#Importing Libraries
import pandas as pd
import numpy as np
import csv as csv
import matplotlib.pyplot as plt

In [214]:
#Reading the raw data
df = pd.read_excel('/Users/bhargavsrisainama/Documents/personal/CU Boulder Data Science/STAT/Project/Crime/State wise/Copy of 05tbl05.xls')

In [215]:
df.head()

,State,Area,Unnamed: 2,Population,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Unnamed: 13
0,ALABAMA,Metropolitan Statistical Area,NaN,3225901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,NaN,Area actually reporting,0.869,14466,292,1145,5467,7562,128757,32178.0,86479.0,10100.0,NaN
2,NaN,NaN,Estimated total,1,15745,311,1254,5832,8348,142137,35463.0,95594.0,11080.0,NaN
3,NaN,Cities outside metropolitan areas,NaN,578770,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Area actually reporting,0.778,2208,30,152,383,1643,20668,3934.0,15689.0,1045.0,NaN

In [217]:
#Returing the states names
df["State"]

0      ALABAMA
1          NaN
2          NaN
3          NaN
4          NaN
        ...
501        NaN
502        NaN
503        NaN
504        NaN
505        NaN
Name: State, Length: 506, dtype: object

In [220]:
#now this has merged elements with NaN values in State column , replace it with the corresponding state name 
df['State'].fillna(method='ffill', inplace=True)

In [222]:
df["Area"].fillna(method='ffill', inplace=True)

In [224]:
#This is to ensure the data is only put up in the required column
df["Area"] == "State Total"

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504     True
505     True
Name: Area, Length: 506, dtype: bool

In [225]:
#drop the rows where the area is not "State Total" 
df = df[df.Area == "State Total"]

In [226]:
df

,State,Area,Unnamed: 2,Population,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Unnamed: 13
9,ALABAMA,State Total,NaN,4557808,19678,374,1564,6447,11293,177393,43473.0,120780.0,13140.0,NaN
10,ALABAMA,State Total,"Rate per 100,000 inhabitants",NaN,431.7,8.2,34.3,141.4,247.8,3892.1,953.8,2650.0,288.3,NaN
18,ALASKA,State Total,NaN,663661,4194,32,538,537,3087,23975,4131.0,17249.0,2595.0,NaN
19,ALASKA,State Total,"Rate per 100,000 inhabitants",NaN,631.9,4.8,81.1,80.9,465.1,3612.5,622.5,2599.1,391.0,NaN
29,ARIZONA,State Total,NaN,5939292,30478,445,2006,8579,19448,287345,56328.0,176112.0,54905.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,WEST VIRGINIA,State Total,"Rate per 100,000 inhabitants",NaN,272.8,4.4,17.7,44.6,206.1,2625.2,621.2,1794.0,210.0,NaN
495,WISCONSIN,State Total,NaN,5536201,13371,194,1142,4550,7485,147275,24406.0,110323.0,12546.0,NaN
496,WISCONSIN,State Total,"Rate per 100,000 inhabitants",NaN,241.5,3.5,20.6,82.2,135.2,2660.2,440.8,1992.8,226.6,NaN
504,WYOMING,State Total,NaN,509294,1172,14,122,78,958,16070,2426.0,12905.0,739.0,NaN
505,WYOMING,State Total,"Rate per 100,000 inhabitants",NaN,230.1,2.7,24,15.3,188.1,3155.3,476.3,2533.9,145.1,NaN

In [227]:
#drop the coumns in Popuulation which are NaN
df = df[df.Population.notnull()]

In [228]:
df.head()

,State,Area,Unnamed: 2,Population,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Unnamed: 13
9,ALABAMA,State Total,NaN,4557808,19678,374,1564,6447,11293,177393,43473.0,120780.0,13140.0,NaN
18,ALASKA,State Total,NaN,663661,4194,32,538,537,3087,23975,4131.0,17249.0,2595.0,NaN
29,ARIZONA,State Total,NaN,5939292,30478,445,2006,8579,19448,287345,56328.0,176112.0,54905.0,NaN
40,ARKANSAS,State Total,NaN,2779154,14659,186,1193,2531,10749,112775,30143.0,75348.0,7284.0,NaN
48,CALIFORNIA,State Total,NaN,36132147,190178,2503,9392,63622,114661,1200531,250521.0,692467.0,257543.0,NaN

In [230]:
#change the column names accordingly
df.columns = ["State" , "Area" , "remove" , "Population" , "Violent Crime" , "Murder" , "Rape","Robbery" , "Assault" , "Property Crime" , "Burglary" , "Larceny" , "Vehicle theft","remove_2"]

In [231]:
df

,State,Area,remove,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property Crime,Burglary,Larceny,Vehicle theft,remove_2
9,ALABAMA,State Total,NaN,4557808,19678,374,1564,6447,11293,177393,43473.0,120780.0,13140.0,NaN
18,ALASKA,State Total,NaN,663661,4194,32,538,537,3087,23975,4131.0,17249.0,2595.0,NaN
29,ARIZONA,State Total,NaN,5939292,30478,445,2006,8579,19448,287345,56328.0,176112.0,54905.0,NaN
40,ARKANSAS,State Total,NaN,2779154,14659,186,1193,2531,10749,112775,30143.0,75348.0,7284.0,NaN
48,CALIFORNIA,State Total,NaN,36132147,190178,2503,9392,63622,114661,1200531,250521.0,692467.0,257543.0,NaN
59,COLORADO,State Total,NaN,4665177,18498,173,2026,3948,12351,188449,34746.0,127602.0,26101.0,NaN
68,CONNECTICUT,State Total,NaN,3510297,9635,102,702,3966,4865,89794,15343.0,64033.0,10418.0,NaN
76,DELAWARE,State Total,NaN,843524,5332,37,377,1306,3612,26245,5811.0,18085.0,2349.0,NaN
82,DISTRICT OF COLUMBIA1,State Total,NaN,550521,8032,195,166,3700,3971,26133,3577.0,14836.0,7720.0,NaN
92,FLORIDA,State Total,NaN,17789864,125957,883,6592,30141,88341,712998,164783.0,472912.0,75303.0,NaN
103,GEORGIA,State Total,NaN,9072576,40725,564,2143,14041,23977,378534,84463.0,249594.0,44477.0,NaN
111,HAWAII,State Total,NaN,1275194,3253,24,343,1001,1885,61115,9792.0,42188.0,9135.0,NaN
121,IDAHO,State Total,NaN,1429096,3670,35,577,266,2792,38556,8066.0,27606.0,2884.0,NaN
123,ILLINOIS2,State Total,NaN,12763371,70392,766,4297,23187,42142,393148,77462.0,276301.0,39385.0,NaN
134,INDIANA,State Total,NaN,6271973,20302,356,1856,6809,11281,216778,43756.0,151278.0,21744.0,NaN
145,IOWA,State Total,NaN,2966334,8642,38,827,1154,6623,84056,17987.0,60594.0,5475.0,NaN
156,KANSAS,State Total,NaN,2744687,10634,102,1055,1793,7684,103941,18917.0,75702.0,9322.0,NaN
167,KENTUCKY,State Total,NaN,4173405,11134,190,1421,3690,5833,105608,26458.0,70354.0,8796.0,NaN
178,LOUISIANA,State Total,NaN,4523628,26889,450,1421,5337,19681,166611,39382.0,112840.0,14389.0,NaN
188,MAINE,State Total,NaN,1321505,1483,19,326,323,815,31889,6323.0,24218.0,1348.0,NaN
196,MARYLAND,State Total,NaN,5600388,39369,552,1266,14378,23173,198483,35922.0,128491.0,34070.0,NaN
206,MASSACHUSETTS,State Total,NaN,6398743,29237,175,1732,7615,19715,151241,34624.0,97737.0,18880.0,NaN
217,MICHIGAN,State Total,NaN,10120860,55877,616,5193,13342,36726,312843,70519.0,194101.0,48223.0,NaN
227,MINNESOTA,State Total,NaN,5132799,15243,115,2258,4724,8146,158301,29716.0,114304.0,14281.0,NaN
238,MISSISSIPPI,State Total,NaN,2921088,8131,214,1147,2405,4365,95231,26866.0,60873.0,7492.0,NaN
248,MISSOURI,State Total,NaN,5800310,30477,402,1625,7196,21254,227809,42822.0,159288.0,25699.0,NaN
259,MONTANA,State Total,NaN,935670,2634,18,301,177,2138,29407,3642.0,23794.0,1971.0,NaN
270,NEBRASKA,State Total,NaN,1758787,5048,44,579,1040,3385,60207,9363.0,45277.0,5567.0,NaN
278,NEVADA,State Total,NaN,2414807,14654,206,1016,4702,8730,102424,23481.0,52012.0,26931.0,NaN
289,NEW HAMPSHIRE,State Total,NaN,1309940,1729,18,405,359,947,23532,4153.0,18042.0,1337.0,NaN
295,NEW JERSEY,State Total,NaN,8717925,30919,417,1208,13215,16079,203391,38980.0,136728.0,27683.0,NaN
306,NEW MEXICO,State Total,NaN,1928384,13541,143,1044,1904,10450,79995,21095.0,50907.0,7993.0,NaN
317,NEW YORK,State Total,NaN,19254630,85839,874,3636,35179,46150,405990,68034.0,302220.0,35736.0,NaN
328,NORTH CAROLINA,State Total,NaN,8683242,40650,585,2302,12635,25128,353855,104298.0,221091.0,28466.0,NaN
339,NORTH DAKOTA,State Total,NaN,636677,625,7,154,47,417,12595,1986.0,9552.0,1057.0,NaN
350,OHIO,State Total,NaN,11464042,40273,585,4557,18696,16435,419899,100063.0,278457.0,41379.0,NaN
358,OKLAHOMA,State Total,NaN,3547884,18044,187,1481,3230,13146,143406,35692.0,93814.0,13900.0,NaN
369,OREGON,State Total,NaN,3641056,10444,80,1266,2478,6620,160199,27621.0,113316.0,19262.0,NaN
379,PENNSYLVANIA,State Total,NaN,12429616,52761,756,3586,19214,29205,300444,56134.0,214916.0,29394.0,NaN
393,RHODE ISLAND,State Total,NaN,1076189,2703,34,321,776,1572,29260,5318.0,19544.0,4398.0,NaN
403,SOUTH CAROLINA,State Total,NaN,4255083,32384,315,1809,5622,24638,184646,42589.0,125699.0,16358.0,NaN
414,SOUTH DAKOTA,State Total,NaN,775933,1363,18,362,144,839,13784,2517.0,10426.0,841.0,NaN
422,TENNESSEE,State Total,NaN,5962959,44891,432,2171,9974,32314,254948,61233.0,168637.0,25078.0,NaN
432,TEXAS,State Total,NaN,22859968,121091,1407,8511,35790,75383,990293,219828.0,677042.0,93423.0,NaN
443,UTAH,State Total,NaN,2469585,5612,56,920,1095,3541,95546,14971.0,72082.0,8493.0,NaN
453,VERMONT,State Total,NaN,623050,746,8,145,73,520,14210,3064.0,10505.0,641.0,NaN
464,VIRGINIA,State Total,NaN,7567465,21400,461,1721,7507,11711,199644,29672.0,154000.0,15972.0,NaN
474,WASHINGTON,State Total,NaN,6287759,21745,205,2811,5788,12941,307661,60343.0,198031.0,49287.0,NaN
485,WEST VIRGINIA,State Total,NaN,1816856,4957,80,321,811,3745,47696,11286.0,32594.0,3816.0,NaN
495,WISCONSIN,State Total,NaN,5536201,13371,194,1142,4550,7485,147275,24406.0,110323.0,12546.0,NaN
504,WYOMING,State Total,NaN,509294,1172,14,122,78,958,16070,2426.0,12905.0,739.0,NaN

In [232]:
df = df.drop("remove",1)

/var/folders/fc/z92zk78d4yng8j2rj9dmfldw0000gn/T/ipykernel_46381/2133395932.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("remove",1)

In [233]:
df

,State,Area,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property Crime,Burglary,Larceny,Vehicle theft,remove_2
9,ALABAMA,State Total,4557808,19678,374,1564,6447,11293,177393,43473.0,120780.0,13140.0,NaN
18,ALASKA,State Total,663661,4194,32,538,537,3087,23975,4131.0,17249.0,2595.0,NaN
29,ARIZONA,State Total,5939292,30478,445,2006,8579,19448,287345,56328.0,176112.0,54905.0,NaN
40,ARKANSAS,State Total,2779154,14659,186,1193,2531,10749,112775,30143.0,75348.0,7284.0,NaN
48,CALIFORNIA,State Total,36132147,190178,2503,9392,63622,114661,1200531,250521.0,692467.0,257543.0,NaN
59,COLORADO,State Total,4665177,18498,173,2026,3948,12351,188449,34746.0,127602.0,26101.0,NaN
68,CONNECTICUT,State Total,3510297,9635,102,702,3966,4865,89794,15343.0,64033.0,10418.0,NaN
76,DELAWARE,State Total,843524,5332,37,377,1306,3612,26245,5811.0,18085.0,2349.0,NaN
82,DISTRICT OF COLUMBIA1,State Total,550521,8032,195,166,3700,3971,26133,3577.0,14836.0,7720.0,NaN
92,FLORIDA,State Total,17789864,125957,883,6592,30141,88341,712998,164783.0,472912.0,75303.0,NaN
103,GEORGIA,State Total,9072576,40725,564,2143,14041,23977,378534,84463.0,249594.0,44477.0,NaN
111,HAWAII,State Total,1275194,3253,24,343,1001,1885,61115,9792.0,42188.0,9135.0,NaN
121,IDAHO,State Total,1429096,3670,35,577,266,2792,38556,8066.0,27606.0,2884.0,NaN
123,ILLINOIS2,State Total,12763371,70392,766,4297,23187,42142,393148,77462.0,276301.0,39385.0,NaN
134,INDIANA,State Total,6271973,20302,356,1856,6809,11281,216778,43756.0,151278.0,21744.0,NaN
145,IOWA,State Total,2966334,8642,38,827,1154,6623,84056,17987.0,60594.0,5475.0,NaN
156,KANSAS,State Total,2744687,10634,102,1055,1793,7684,103941,18917.0,75702.0,9322.0,NaN
167,KENTUCKY,State Total,4173405,11134,190,1421,3690,5833,105608,26458.0,70354.0,8796.0,NaN
178,LOUISIANA,State Total,4523628,26889,450,1421,5337,19681,166611,39382.0,112840.0,14389.0,NaN
188,MAINE,State Total,1321505,1483,19,326,323,815,31889,6323.0,24218.0,1348.0,NaN
196,MARYLAND,State Total,5600388,39369,552,1266,14378,23173,198483,35922.0,128491.0,34070.0,NaN
206,MASSACHUSETTS,State Total,6398743,29237,175,1732,7615,19715,151241,34624.0,97737.0,18880.0,NaN
217,MICHIGAN,State Total,10120860,55877,616,5193,13342,36726,312843,70519.0,194101.0,48223.0,NaN
227,MINNESOTA,State Total,5132799,15243,115,2258,4724,8146,158301,29716.0,114304.0,14281.0,NaN
238,MISSISSIPPI,State Total,2921088,8131,214,1147,2405,4365,95231,26866.0,60873.0,7492.0,NaN
248,MISSOURI,State Total,5800310,30477,402,1625,7196,21254,227809,42822.0,159288.0,25699.0,NaN
259,MONTANA,State Total,935670,2634,18,301,177,2138,29407,3642.0,23794.0,1971.0,NaN
270,NEBRASKA,State Total,1758787,5048,44,579,1040,3385,60207,9363.0,45277.0,5567.0,NaN
278,NEVADA,State Total,2414807,14654,206,1016,4702,8730,102424,23481.0,52012.0,26931.0,NaN
289,NEW HAMPSHIRE,State Total,1309940,1729,18,405,359,947,23532,4153.0,18042.0,1337.0,NaN
295,NEW JERSEY,State Total,8717925,30919,417,1208,13215,16079,203391,38980.0,136728.0,27683.0,NaN
306,NEW MEXICO,State Total,1928384,13541,143,1044,1904,10450,79995,21095.0,50907.0,7993.0,NaN
317,NEW YORK,State Total,19254630,85839,874,3636,35179,46150,405990,68034.0,302220.0,35736.0,NaN
328,NORTH CAROLINA,State Total,8683242,40650,585,2302,12635,25128,353855,104298.0,221091.0,28466.0,NaN
339,NORTH DAKOTA,State Total,636677,625,7,154,47,417,12595,1986.0,9552.0,1057.0,NaN
350,OHIO,State Total,11464042,40273,585,4557,18696,16435,419899,100063.0,278457.0,41379.0,NaN
358,OKLAHOMA,State Total,3547884,18044,187,1481,3230,13146,143406,35692.0,93814.0,13900.0,NaN
369,OREGON,State Total,3641056,10444,80,1266,2478,6620,160199,27621.0,113316.0,19262.0,NaN
379,PENNSYLVANIA,State Total,12429616,52761,756,3586,19214,29205,300444,56134.0,214916.0,29394.0,NaN
393,RHODE ISLAND,State Total,1076189,2703,34,321,776,1572,29260,5318.0,19544.0,4398.0,NaN
403,SOUTH CAROLINA,State Total,4255083,32384,315,1809,5622,24638,184646,42589.0,125699.0,16358.0,NaN
414,SOUTH DAKOTA,State Total,775933,1363,18,362,144,839,13784,2517.0,10426.0,841.0,NaN
422,TENNESSEE,State Total,5962959,44891,432,2171,9974,32314,254948,61233.0,168637.0,25078.0,NaN
432,TEXAS,State Total,22859968,121091,1407,8511,35790,75383,990293,219828.0,677042.0,93423.0,NaN
443,UTAH,State Total,2469585,5612,56,920,1095,3541,95546,14971.0,72082.0,8493.0,NaN
453,VERMONT,State Total,623050,746,8,145,73,520,14210,3064.0,10505.0,641.0,NaN
464,VIRGINIA,State Total,7567465,21400,461,1721,7507,11711,199644,29672.0,154000.0,15972.0,NaN
474,WASHINGTON,State Total,6287759,21745,205,2811,5788,12941,307661,60343.0,198031.0,49287.0,NaN
485,WEST VIRGINIA,State Total,1816856,4957,80,321,811,3745,47696,11286.0,32594.0,3816.0,NaN
495,WISCONSIN,State Total,5536201,13371,194,1142,4550,7485,147275,24406.0,110323.0,12546.0,NaN
504,WYOMING,State Total,509294,1172,14,122,78,958,16070,2426.0,12905.0,739.0,NaN

In [234]:
#Changing the State names to maintain consistency
df["State"] = ['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA', 'FLORIDA',
              'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS',
              'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO',
              'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA',
              'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING']

In [235]:
df

,State,Area,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property Crime,Burglary,Larceny,Vehicle theft,remove_2
9,ALABAMA,State Total,4557808,19678,374,1564,6447,11293,177393,43473.0,120780.0,13140.0,NaN
18,ALASKA,State Total,663661,4194,32,538,537,3087,23975,4131.0,17249.0,2595.0,NaN
29,ARIZONA,State Total,5939292,30478,445,2006,8579,19448,287345,56328.0,176112.0,54905.0,NaN
40,ARKANSAS,State Total,2779154,14659,186,1193,2531,10749,112775,30143.0,75348.0,7284.0,NaN
48,CALIFORNIA,State Total,36132147,190178,2503,9392,63622,114661,1200531,250521.0,692467.0,257543.0,NaN
59,COLORADO,State Total,4665177,18498,173,2026,3948,12351,188449,34746.0,127602.0,26101.0,NaN
68,CONNECTICUT,State Total,3510297,9635,102,702,3966,4865,89794,15343.0,64033.0,10418.0,NaN
76,DELAWARE,State Total,843524,5332,37,377,1306,3612,26245,5811.0,18085.0,2349.0,NaN
82,DISTRICT OF COLUMBIA,State Total,550521,8032,195,166,3700,3971,26133,3577.0,14836.0,7720.0,NaN
92,FLORIDA,State Total,17789864,125957,883,6592,30141,88341,712998,164783.0,472912.0,75303.0,NaN
103,GEORGIA,State Total,9072576,40725,564,2143,14041,23977,378534,84463.0,249594.0,44477.0,NaN
111,HAWAII,State Total,1275194,3253,24,343,1001,1885,61115,9792.0,42188.0,9135.0,NaN
121,IDAHO,State Total,1429096,3670,35,577,266,2792,38556,8066.0,27606.0,2884.0,NaN
123,ILLINOIS,State Total,12763371,70392,766,4297,23187,42142,393148,77462.0,276301.0,39385.0,NaN
134,INDIANA,State Total,6271973,20302,356,1856,6809,11281,216778,43756.0,151278.0,21744.0,NaN
145,IOWA,State Total,2966334,8642,38,827,1154,6623,84056,17987.0,60594.0,5475.0,NaN
156,KANSAS,State Total,2744687,10634,102,1055,1793,7684,103941,18917.0,75702.0,9322.0,NaN
167,KENTUCKY,State Total,4173405,11134,190,1421,3690,5833,105608,26458.0,70354.0,8796.0,NaN
178,LOUISIANA,State Total,4523628,26889,450,1421,5337,19681,166611,39382.0,112840.0,14389.0,NaN
188,MAINE,State Total,1321505,1483,19,326,323,815,31889,6323.0,24218.0,1348.0,NaN
196,MARYLAND,State Total,5600388,39369,552,1266,14378,23173,198483,35922.0,128491.0,34070.0,NaN
206,MASSACHUSETTS,State Total,6398743,29237,175,1732,7615,19715,151241,34624.0,97737.0,18880.0,NaN
217,MICHIGAN,State Total,10120860,55877,616,5193,13342,36726,312843,70519.0,194101.0,48223.0,NaN
227,MINNESOTA,State Total,5132799,15243,115,2258,4724,8146,158301,29716.0,114304.0,14281.0,NaN
238,MISSISSIPPI,State Total,2921088,8131,214,1147,2405,4365,95231,26866.0,60873.0,7492.0,NaN
248,MISSOURI,State Total,5800310,30477,402,1625,7196,21254,227809,42822.0,159288.0,25699.0,NaN
259,MONTANA,State Total,935670,2634,18,301,177,2138,29407,3642.0,23794.0,1971.0,NaN
270,NEBRASKA,State Total,1758787,5048,44,579,1040,3385,60207,9363.0,45277.0,5567.0,NaN
278,NEVADA,State Total,2414807,14654,206,1016,4702,8730,102424,23481.0,52012.0,26931.0,NaN
289,NEW HAMPSHIRE,State Total,1309940,1729,18,405,359,947,23532,4153.0,18042.0,1337.0,NaN
295,NEW JERSEY,State Total,8717925,30919,417,1208,13215,16079,203391,38980.0,136728.0,27683.0,NaN
306,NEW MEXICO,State Total,1928384,13541,143,1044,1904,10450,79995,21095.0,50907.0,7993.0,NaN
317,NEW YORK,State Total,19254630,85839,874,3636,35179,46150,405990,68034.0,302220.0,35736.0,NaN
328,NORTH CAROLINA,State Total,8683242,40650,585,2302,12635,25128,353855,104298.0,221091.0,28466.0,NaN
339,NORTH DAKOTA,State Total,636677,625,7,154,47,417,12595,1986.0,9552.0,1057.0,NaN
350,OHIO,State Total,11464042,40273,585,4557,18696,16435,419899,100063.0,278457.0,41379.0,NaN
358,OKLAHOMA,State Total,3547884,18044,187,1481,3230,13146,143406,35692.0,93814.0,13900.0,NaN
369,OREGON,State Total,3641056,10444,80,1266,2478,6620,160199,27621.0,113316.0,19262.0,NaN
379,PENNSYLVANIA,State Total,12429616,52761,756,3586,19214,29205,300444,56134.0,214916.0,29394.0,NaN
393,RHODE ISLAND,State Total,1076189,2703,34,321,776,1572,29260,5318.0,19544.0,4398.0,NaN
403,SOUTH CAROLINA,State Total,4255083,32384,315,1809,5622,24638,184646,42589.0,125699.0,16358.0,NaN
414,SOUTH DAKOTA,State Total,775933,1363,18,362,144,839,13784,2517.0,10426.0,841.0,NaN
422,TENNESSEE,State Total,5962959,44891,432,2171,9974,32314,254948,61233.0,168637.0,25078.0,NaN
432,TEXAS,State Total,22859968,121091,1407,8511,35790,75383,990293,219828.0,677042.0,93423.0,NaN
443,UTAH,State Total,2469585,5612,56,920,1095,3541,95546,14971.0,72082.0,8493.0,NaN
453,VERMONT,State Total,623050,746,8,145,73,520,14210,3064.0,10505.0,641.0,NaN
464,VIRGINIA,State Total,7567465,21400,461,1721,7507,11711,199644,29672.0,154000.0,15972.0,NaN
474,WASHINGTON,State Total,6287759,21745,205,2811,5788,12941,307661,60343.0,198031.0,49287.0,NaN
485,WEST VIRGINIA,State Total,1816856,4957,80,321,811,3745,47696,11286.0,32594.0,3816.0,NaN
495,WISCONSIN,State Total,5536201,13371,194,1142,4550,7485,147275,24406.0,110323.0,12546.0,NaN
504,WYOMING,State Total,509294,1172,14,122,78,958,16070,2426.0,12905.0,739.0,NaN

In [236]:
#Saving this cleaned into a csv file to merge later
df.to_csv('/Users/bhargavsrisainama/Documents/personal/CU Boulder Data Science/STAT/Project/Cleaned/Crime/crime_2005.csv', index=False)